body {
    background-color: pink;
}

div .bg-dark > a {
    color: red;
}

@media screen and (max-width: 600px) {
    body {
        display: none;
    }
}

nav h1 {
    color: white;
    margin: auto;
    padding: 20px;
}