body {
    background-image: url(images/633a34.png);
}

div .bg-dark > a {
       color: white;
}

@media screen and (max-width: 600px) {
    body {
        display: none;
    }
}

nav h1 {
    color: white;
    margin: auto;
    padding: 20px;
}

section {
    width: 90%;
    background-color: white;
    margin: auto;
    text-align: center;
}

#carouselExample {
    width: 80%;
    margin: auto;
}

#gradient {
    background-image: linear-gradient(grey, white);
}

ul {
    padding: 30px;
}

p, li {
    font-size: 20px;
}

li {
    list-style-position: inside;
}

