body {
    background-image: url(images/633a34.png);
}

div .bg-dark > a {
       color: white;
}

div .bg-dark > a:visited {
    color: grey;
}

nav h1 {
    color: white;
    margin: auto;
    padding: 20px;
}

section {
    width: 90%;
    background-color: white;
    margin: auto;
    /* text-align: center; */
}

img {
    height: 600px;
}

article {
    padding: 25px 30px;
}

#carouselExample {
    width: 80%;
    margin: auto;
}

#gradient {
    background-image: linear-gradient(grey, white);
}

ul {
    padding: 30px;
}

p, li {
    font-size: 20px;
}

li {
    list-style-position: inside;
}

#elerhetoseg > h2, p {
    padding-left: 20px;
}